<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="StudyMage_Swapi::swapi" title="Swapi Module">
                    <resource id="StudyMage_Swapi::film" title="Film Listing"/>
                    <resource id="StudyMage_Swapi::edit" title="Film Listing"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
