<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="StudyMage_Swapi::main_module_menu"
             resource="StudyMage_Swapi::main_module"
             title="Swapi Module"
             module="StudyMage_Swapi"
             sortOrder="10"/>
        <add id="StudyMage_Swapi::swapi_film_list_menu"
             resource="StudyMage_Swapi::swapi_film_list"
             title="Films"
             module="StudyMage_Swapi"
             action="swapi/film/index"
             parent="StudyMage_Swapi::main_module_menu"
             sortOrder="10"/>
    </menu>
</config>
