<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
       <tab id="swapi_tab" translate="label" sortOrder="10">
           <label>Swapi</label>
       </tab>
        <section id="swapi_section" sortOrder="10" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Swapi Options</label>
            <tab>swapi_tab</tab>
            <resource>StudyMage_Swapi:swapi_config</resource>
            <group id="swapi_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Url</label>
                <field id="swapi_url_field" translate="label" type="text" sortOreder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Swapi URL</label>
                </field>
            </group>
            <group id="swapi_enable" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Swapi Enable</label>
                <field id="swapi_enable_field" translate="label" type="select" sortOreder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Activation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="swapi_types" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Swapi Types Of Data</label>
                <field id="swapi_types_field" translate="label" type="select" sortOreder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Choose Default Type Of Data</label>
                    <source_model>StudyMage\Swapi\Model\DataTypesModel</source_model>
                </field>
            </group>
        </section>
    </system>
</config>